.search md-input-container {
  margin-bottom: 4px;
}

.search md-input-container:first-child {
  margin-top: 24px;
  margin-left: 8px;
}

.likes md-icon {
  margin-left: 4px;
  margin-right: 16px;
}

.paging p {
  margin-top: 15px;
}

.paging md-input-container {
  margin-left: 0px !important;
}

.paging md-select-value {
  min-width: 40px;
}
